* {
    box-sizing: border-box;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

h1, h2 {
    color: #333;
}

.btn-back-upload-page {
    display: inline-block;
    text-decoration: none;
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-back-upload-page:hover {
    background-color: purple;
}

.message-box {
    display: none; /* Hide by default */
    background-color: white; /* White background for the message box */
    color: black; /* Text color */
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Center the message */
    padding: 10px; /* Add some padding */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow for the message box */
    top: 20px; /* Adjust the top position for success message */
    width: 300px; /* Fixed width for the message box */
}

#error-message {
    top: 60px; /* Adjust the top position for error message */
}